:root{
    --fundo:#FF1493;
    --cor-frente:#C71585;
    --cor-verso:#f5b9c7;
    --destaque:#cc7866;
    --preto:#000000;
    --branco:#ffffff;   
}
body{
    background-color:var(--cor-verso);
    margin: 0%;
}
footer{
    position: fixed;
    bottom: 0;
    background-color:var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
    margin: 0%;
}
#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}
.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}

.conteudo-cartao{
    background-color: var(--destaque);
    height: 100%;
    color: var(--branco);
    text-align: center;
}

.conteudo-cartao h3{
    border: 1px solid var(--cor-frente);
    border-radius: 6rem;
    color: var(--cor-frente);
    padding: 0.5rem;
    position: absolute;
    text-align: left;
    font-size: 1.2vw;
    
}
.conteudo-cartao p{
    margin-top: 5rem;
    padding: 2rem;
    font-size: 1.4vw;
}
.pergunta-cartao{
    font-weight: 500;
}

.resposta-cartao{
    font-weight: 7000;
    color: var(--cor-frente);
}
